<div class="jumbotron-fluid text-center bg-info p-3">
        <h2>Register API Token</h2>
</div>
<div class="container">
    <form action="/registoken" method="post">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="name" class="text-light">Nama</label>
                <input type="text" name="name" id="name" class="form-control" placeholder="Nama...">
            </div>
            <div class="form-group">
                <label for="email" class="text-light">Email</label>
                <input type="email" name="email" id="email" class="form-control" placeholder="Email...">
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary form-control">
            </div>
        </div>
    </div>
    </form>
</div>
<div class="jumbotron-fluid text-center bg-secondary p-3 text-light">
        Copyright &copy; <script>document.write(new Date().getFullYear())</script> All Right Reserved | Awanda
</div>